@charset "utf-8";

/*
Colocando um icone de pesquisa no canto do input.
input[type=text] {
    background-image: url(http://findicons.com/files/icons/949/token/128/search.png) !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
}
*/

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal
}

header {
	padding: 5px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc
}

#conteudo {
	padding: 0px 8px
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}